# CineSaaS - Plantilla de Producción

# MongoDB URIs (Atlas es recomendado)
MONGO_URI_AUTH=mongodb+srv://USUARIO:PASSWORD@cluster.mongodb.net/cinesaas-auth
MONGO_URI_WATCHLIST=mongodb+srv://USUARIO:PASSWORD@cluster.mongodb.net/cinesaas-watchlist
MONGO_URI_REVIEWS=mongodb+srv://USUARIO:PASSWORD@cluster.mongodb.net/cinesaas-reviews

# Seguridad
JWT_SECRET=PON_UNA_CLAVE_MUY_LARGA_Y_ALEATORIA_AQUI

# APIs Externas
TMDB_API_KEY=TU_API_KEY_DE_TMDB
